html, body {
    background-color: #191919;
    width: 1440px;
}
p, li, div, h1 {color: white;
    font-size: 18px;
    font-family: DM Sans;
    font-weight: 400;
    line-height: 27px;
    word-wrap: break-word}

ul {
    width: 403px;
    height: 67px;
    position: absolute;
    list-style-type: none;
    text-align: center;
    padding: 20px;
    padding-left: 0;
    display:inline-block;
    }ul :last-child{margin-right: 0px;}
li{
    display: inline;
    margin-right: 40px;
}
.Castaway {
    margin: 17px 777px 17px 50px;
    display: inline;
    
}
header{
    margin: 26px 0;
    padding: auto;
    position: relative;
    width: 1440px;
    height: 67px;
}
.section1{
    margin: 0 20px;
    width: 1400px;
    height: 913px;
    display: grid;
    grid-template-columns: repeat(2, 780px);
}
.negr1{
    margin: 40px 60px 0 50px;
    display: inline;
    width: 650px;
    height: 873px;
}
.section1-div{
    position: relative;
    top: 340px;
}
.section1-div-text{
    position: relative;
    width: 526px; 
    color: white; 
    font-size: 70px; 
    font-weight: 400; 
    line-height: 88px; 
    letter-spacing: 3.20px;
    word-wrap: break-word;
}
.section1-div-indiv{
    width: 289px;
    height: 72px;
}
.ul-icons li{
    margin-right: 17px;
}
.section1-div-indiv-icons{
    position: absolute;
    top: 363px;
    left: -50px;
    width: 245px;
    height: 32px;
}
.section2 {
    width:1400px;
    height: 2088px;
    margin: 0 20px;
}
.section2-div1{
    width: 1300px;
    height: 99px;
    margin: 100.44px 50px 39.56px 50px;
}
.section2-div1-p{
    font-size: 64px;
    line-height: 79.20px;
    letter-spacing: 2.88px;
    margin: -7.44px 609px 26.44px 0;
    position: absolute; 
    font-weight: 400;
}
.section2-div1-button{
    background-color: #118DA8;
    border-radius: 6px;
    width: 178px;
    height: 51px;
    color: white;
    position: absolute;
    left: 1192px;
    top: 1156px;
}
.section2-div2{
    background-color: #000000;
    width:1300px;
    height: 545px;
    display: grid;
    grid-template-columns: repeat(2, 482px);
    border-radius: 22px;
    margin: 39.56px 50px 0 50px;
}
.section2-div2 img{
    margin: 40px 871px 40px 40px;
    width: 389px;
    height: 465px;
}
.section2-div2-box{
    margin: 40.44px 40px 39.56px 0;
    width: 778px;
    height: 465px;
    display: grid;
    grid-template-rows: 7.56px 27px 48px 27px 18px 141px 28px 99px 18px 51px
}
.section2-div2-box-b1{
    font-size: 18px;
    border-radius: 6px;
    background-color: #191919;
    width: 73px;
    height: 27px;
    color: white;
    position: relative;
    text-align: center;
}
.section3-div1-indiv{
    width: 1300px;
    height: 743.4375px;
    margin: 100px 50px 99.12px 70px;
    display: grid;
    grid-template-columns: 720px 0;
}
.section3-div2-box{
    margin: 100px 60px 246.84px 0px;
    width: 590px;
    height: 448px;
    display: grid;
    grid-template-rows: 148px 112px 20px 25px 80px 28px 66px 33px 66px 165px;
}
.section3-div2-indiv{
    padding: 60px;
    border-radius: 32px;
    width: 1200px;
    height: 387px;
    background-color: #000000;
    margin: 201px 70px 70px 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.section3-div2-indiv-textdiv{
    display: grid;
    grid-template-rows: 59.13px 27px 159px 85.87px;
    width: 642px;
    height: 330px;
}
.section3-div2-indiv-registr{
    display: grid;
    grid-template-rows: 60px 82px 20px 82px 20px 48px 75px;
    width: 582px;
    height: 387px;
}
.section3-div2-indiv-registrdiv{
    border-radius: 6px; 
    border: 1px #191919 solid;
    padding: 26px 443px 27px 19px;
    width: 60px;
    height: 29px;
    background-color: #191919;
    color: #FFFFFFB2;
    font-size: 24px;
    line-height: 28.80px;
}
.section3-div3{
    width: 1300px;
    height: 701px;
    margin: 200px 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
}
.section3-div3-el{
    width: 383px;
    height: 321px;
    border-radius: 32px;
    background-color: #000000;
    padding-left: 50px;
    display: grid;
    grid-template-rows: 54px 17px 21px 87px 19px 29px 94px;
}
.bfont{
    line-height: 43.20px;
    font-size: 36px;
}
.grayfont{
    line-height: 28.80px;
    color: rgba(255, 255, 255, 0.70);
    font-size: 24px;
}
footer{
    width: 1300px;
    height: 638px;
    margin: 100px 20px 0 20px;
    padding: 100px 0px;
    display: grid;
    grid-template-columns: 447px 178px 118px auto;
    gap: 16px;
}
.footer-div-grid{
    width: 447px;
    height: 27px;
    display: grid;
    grid-template-columns: 34px 30px 50px;
}
.footer-ul li{
    display: block;
    margin: 0 0 10px 0;
    text-align: left;
}
.footer-ul2 li{
    display: block;
    margin: 0 0 10px 0;
    text-align: left;
}