.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://img-s-msn-com.akamaized.net/tenant/amp/entityid/BBYyvk2?w=0&h=0&q=60&m=6&f=jpg&u=t); /* Замените этот URL на URL вашего изображения */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    padding: 4px;
  }
.imageclass {
    position: absolute;
    top: 10px;
    left: 830px;
}
.column {
    background-color: transparent; /* Это делает фон столбца прозрачным */
  }
